
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>1 profilin</p>
<p>Tüm başlıklarda paging(Sayfalama)</p>
<p>Mesajlada session</p>
<p>Oturum yönetiminin mimariye taşınması</p>
<p>Token Kullanımı</p>


