
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<!DOCTYPE html>

<h3>Mvc Tablo Örneği- Category</h3>
<br />


<table class="table table-bordered">
	<tr>
		<th>CategoryId</th>
		<th>CategoryName</th>
		<th>CategoryDescription</th>
		<th>CategoryStatus</th>

	</tr>

	@*@foreach (var item in collection)
	{
                  <tr>
	                <td></td>
	                <td></td>
	                <td></td>
                  </tr>
	}*@

</table>

<button class="btn btn-primary">Category</button>
<button class="btn btn-warning">Category Liste</button>
<button class="btn btn-danger">Category Açıklama</button>
